/* menubar */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px 0;
    z-index: 99;
}


.header-sticky {
    background: #fff;
    position: fixed;
    width: 100%;
    opacity: 0;
    box-shadow: 0 0 4px  #818181;
    z-index: 111;
}



.header-sticky .site-brand {
    float: left;
}
.header-sticky nav {
    float: right;
}
.header-sticky nav li {
    float: left;
    display: inline-block;
    margin-left: 20px;
}
.site-brand {
    color: #000;
}

.site-brand img{
    padding: 5px 0; 
    max-height: 70px;
    transform: scale(1.3);
}

.site-search{
    padding: 18px 0;
}

.site-search .input-group{
    border-radius: 0;
    font-size: 14px;
}



.header_three{
    padding: 10px 0 0 0;
}

.header_three ul{
    list-style: none;
    margin: 0;
    display: inline-flex;
    z-index: 99999;
}

.header_three ul li{
    display: inline-block;
    text-align: center;
}

.header_three ul li a span{
    display: block;
}

.header_three ul li a{
    font-size: 11px;
    color: #898989;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.header_three ul li a img{
    width: 26px;
}

.header_three ul li a:hover{
    background-color: #F1F1F1;
}




/* megamenu-design-start */
.toggle-menu{
    display: none;
}
.exo-menu{
	width: 100%;
	float: left;
	list-style: none;
	position:relative;
	background: #FE681C;
    padding: 0;
    text-align: center;
    box-shadow: 0px 2px 3px  #818181;
    margin-bottom: 10px;
}
.exo-menu > li {	
    display: inline-block;
    margin: 0 -3px;
    text-align: left;
}
.exo-menu > li > a{
	color: #fff;
	text-decoration: none;
	-webkit-transition: color 0.2s linear, background 0.2s linear;
	-moz-transition: color 0.2s linear, background 0.2s linear;
	-o-transition: color 0.2s linear, background 0.2s linear;
	transition: color 0.2s linear, background 0.2s linear;
}
.exo-menu > li > a.active,
.exo-menu > li > a:hover,
li.drop-down ul > li > a:hover{
	background:#fff;
	color:#203A73;
}
.exo-menu i {
  float: left;
  font-size: 18px;
  margin-right: 6px;
  line-height: 20px !important;
}
li.drop-down,
.flyout-right,
.flyout-left{position:relative;}
li.drop-down:before {
  content: "\f103";
  color: #fff;
  font-family: FontAwesome;
  font-style: normal;
  display: inline;
  position: absolute;
  right: 6px;
  top: 20px;
  font-size: 14px;
}
li.drop-down>ul{
	left: 0px;
	min-width: 230px;

}
.drop-down-ul{display:none;}
.flyout-right>ul,
.flyout-left>ul{
  top: 0;
  min-width: 230px;
  display: none;
  border-left: 1px solid #365670;
  }

  .drop-down-ul{
      list-style: none !important;
  }

  .flyout-right>ul{
      list-style: none !important;
  }

  .flyout-left>ul{
    list-style: none !important;
}

li.drop-down>ul>li>a,
.flyout-right ul>li>a ,
.flyout-left ul>li>a {
	color: #fff;
	display: block;
	padding: 20px 22px;
	text-decoration: none;
	background-color: #365670;
	border-bottom: 1px dotted #547787;
	-webkit-transition: color 0.2s linear, background 0.2s linear;
	-moz-transition: color 0.2s linear, background 0.2s linear;
	-o-transition: color 0.2s linear, background 0.2s linear;
	transition: color 0.2s linear, background 0.2s linear;
}
.flyout-right ul>li>a ,
.flyout-left ul>li>a {
	border-bottom: 1px dotted #B8C7BC;
}


/*Flyout Mega*/
.flyout-mega-wrap {
	top: 0;
	right: 0;
	left: 100%;
	width: 100%;
	display:none;
	height: 100%;
	padding: 15px;
	min-width: 742px;

}
h4.row.mega-title {
  color:#eee;
  margin-top: 0px;
  font-size: 13px;
  padding-left: 0px;
  padding-bottom: 13px;
  text-transform: uppercase;
  border-bottom: 1px solid  #818181;
 }
.flyout-mega ul > li > a {
  font-size: 90%;
  line-height: 25px;
  color: #fff;
  font-family: inherit;
}
.flyout-mega ul > li > a:hover,
.flyout-mega ul > li > a:active,
.flyout-mega ul > li > a:focus{
  text-decoration: none;
  background-color: transparent !important;
  color:  #818181 !important
}
/*mega menu*/

.mega-menu {
  left: 0;
  right: 0;
  padding: 15px;
  display:none;
  padding-top: 0;
  min-height: 100%;

}
h4.row.mega-title {
  color: #203A73;
  margin-top: 0px;
  font-size: 13px;
  padding-left: 0px;
  padding-bottom: 7px;
  text-transform: uppercase;
  border-bottom: 1px solid #203A73;
  padding-top: 15px;
  background-color: #fff;
  margin: 0;
  }
 .mega-menu ul li a {
  line-height: 20px;
  display: block;
  text-decoration: none;
  color: #818181;
  font-size: 13px;
  padding-left: 5px;
  margin: 0;
}

.mega-menu ul li a:hover{
    background: #203A73;
    color: #fff;
    border-radius: 2px;
}

ul.stander li a {
    padding: 3px 0px;
}

ul.description li {
    padding-bottom: 12px;
    line-height: 8px;
}

ul.description li span {
    color:  #818181;
    font-size: 85%;
}
a.view-more{
  border-radius: 1px;
  margin-top:15px;
  background-color: #009FE1;
  padding: 2px 10px !important;
  line-height: 21px !important;
  display: inline-block !important;
}
a.view-more:hover{
	color:#fff;
	background:#0DADEF;
}
ul.icon-des li a i {
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    background-color: #009FE1;
    line-height: 35px !important;
}

ul.icon-des li {
    width: 100%;
    display: table;
    margin-bottom: 11px;
}
/*Blog DropDown*/
.Blog{
	left:0;
	display:none;
	color:#fefefe;
	padding-top:15px;
	background:#547787;
	padding-bottom:15px;
}
.Blog .blog-title{
	color:#fff;
	font-size:15px;
	text-transform:uppercase;

}
.Blog .blog-des{
	color: #818181;
	font-size:90%;
	margin-top:15px;
}
.Blog a.view-more{
	margin-top:0px;
}
/*Images*/
.Images{
	left:0;
   width:100%;
	 display:none;
	color:#fefefe;
	padding-top:15px;
	background:#547787;
	padding-bottom:15px;
}
.Images h4 {
  font-size: 15px;
  margin-top: 0px;
  text-transform: uppercase;
}
/*common*/
.flyout-right ul>li>a ,
.flyout-left ul>li>a,
.flyout-mega-wrap,
.mega-menu{
	background-color: #fff;
}

/*hover*/
.Blog:hover,
.Images:hover,
.mega-menu:hover,
.drop-down-ul:hover,
li.flyout-left>ul:hover,
li.flyout-right>ul:hover,
.flyout-mega-wrap:hover,
li.flyout-left a:hover +ul,
li.flyout-right a:hover +ul,
.blog-drop-down >a:hover+.Blog,
li.drop-down>a:hover +.drop-down-ul,
.images-drop-down>a:hover +.Images,
.mega-drop-down a:hover+.mega-menu,
li.flyout-mega>a:hover +.flyout-mega-wrap{
	display:block;
}
/*responsive*/
 @media (min-width:767px){
	.exo-menu > li > a{
	display:block;
	padding: 8px 17px;
    font-size: 12px;
    text-align: center;
 }
.mega-menu, .flyout-mega-wrap, .Images, .Blog,.flyout-right>ul,
.flyout-left>ul, li.drop-down>ul{
		position:absolute;
}
 .flyout-right>ul{
	left: 100%;
	}
	.flyout-left>ul{
	right: 100%;
}
 }
@media (max-width:767px){

	.exo-menu {
		min-height: 58px;
		background-color: #fff;
		width: 100%;
	}
	
	.exo-menu > li > a{
		width:100% ;
	    display:none ;
	
	}
	.exo-menu > li{
		width:100%;
	}
	.display.exo-menu > li > a{
	  display:block ;
	  	padding: 20px 22px;
	}
	
.mega-menu, .Images, .Blog,.flyout-right>ul,
.flyout-left>ul, li.drop-down>ul{
		position:relative;
}

}
a.toggle-menu{
    position: absolute;
    right: 0px;
    padding: 20px;
    font-size: 27px;
    background-color:  #818181;
    color: #23364B;
    top: 0px;

}
.logosip{
	padding: 0 !important;
	margin-top:-7px !important;
	margin-top:-7px !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: 200px !important;
	height:25px !important;
	max-width: 210px !important;
	max-height:30px !important;
	border: 1.5px transparent !important;
	border-radius: 1.2em;
  background-color: transparent !important;
}
.megamenusip, .mega-menu, .Images, .Blog,.flyout-right>ul,
.flyout-left>ul, li.drop-down>ul{
	z-index: 2000;
}
.exo-menu > li > a.active, .exo-menu > li > a:hover, li.drop-down ul > li > a:hover {
    background-color:#fff !important;
    color: #203A73  ;
}
/* opacidad */

.circle_image02{
  opacity: 1.0 !important;
  filter: alpha(opacity=50)!important; /* For IE8 and earlier */
}

.circle_image02:hover {
  opacity: 0.5 !important;
  filter: alpha(opacity=100)!important; /* For IE8 and earlier */
}
/* Fin */


ul.corporal{
    list-style: none;
}


.cabeza{
    list-style: none;
    margin: 0;
    padding: 0;
}

.cabeza p{   
    margin: 0;
    font-size: 14px;
    color: #000;
    padding-left: 5px;
    line-height: 30px;
    font-weight: 500;
}

.manos{
    list-style: none;
}

.mega-menu{
    width: 90%;
    margin: 0  auto;
    box-shadow: 0px 2px 3px #818181;
    max-height: 250px;
    overflow-y: auto;
}

@media screen and (max-width:1950px) and (min-width:1780px){
    h4.row.mega-title{
      font-size: 24px;
    }
    .exo-menu > li > a{
        font-size: 22px;
    }
    .mega-menu ul li a {
        line-height: 40px;
        font-size: 20px;
    }
    .mega-menu{
        max-height: 300px;
        width: 100%;
    }
    .site-brand img{
        width: 60%;
    }
    .site-search{
        padding-top: 25px;
    }

    .site-search .form-control {
        height: 60px;
        font-size: 24px;
    }
    .top_menu{
        padding: 20px ;
    }
    .header_three ul li a{
        font-size: 20px;
    }
    .dropbtn{
        font-size: 20px;
    }
    .header_three ul li a img {
        width: 40px;
    }
    .dropbtn img {
        width: 40px;
    }
    .header_three {
        padding: 14px 0 0 0;
    }
}

